body{
	background-color: #DCDCDC;
}
#myPage{
	text-align:center;
	color:green;
}
#loginForm{
	text-align:center;
}
.hint{
	color:red;
	font-style: italic;
	font-size: 15px !important;
}
header{
	position: relative;
	right: 0;
	top: 0;
	left: 0;
	padding: 1rem;
	background-color: #F0FFFF;
	text-align: center;
}
footer{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #F0FFFF;
	text-align: center;
}
.container{
	margin-top: 50px;
}
hr{
	margin:0px;
}